* {
  /* color: #282c34; */
}
body {
  background-color: #eaeaea;
  width: 100vw;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.nav-style {
  padding: 40px;
  border-radius: 5px;
}
.welcomeMessage {
  padding: 20px;
  text-align: justify;
}
.welcomeMessage h2 {
  text-align: center;
}

.homeSection {
  margin: 10px 0;
}
.homeSection-btn {
  display: inline-block;
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
}
.homeArticle {
  padding: 30px;
  text-align: left;
}
.bottom-nav {
  width: 100vw;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;

  align-items: center;
}

.nav-style {
  text-align: left;
}

.nav-style li {
  list-style: none;
  margin: 0 10px;
  text-decoration: none;
}
/* Sagas styling  */

/* Event homepage  */
.event-box {
  color: white;
}
.playlist-form {
  border: none;
  padding: 0 10px;
  margin: 0;
  width: 240px;
  background: none;
  display: block;
  text-align: center;
  background-color: white;
}
.bar {
  width: 207px;
  height: 44px;
  object-fit: contain;
}

.welcome {
  top:0;
  width: 100vw;
  height: 100vh;
  background-image: url("/background.png");
  background-size: cover; 
  color:  #ffffff; 
  display: flex;
  flex-direction: column;
  
}
.welcome h1 {
  margin: 0;
  /* width: 133.5px;
  height: 36.5px; */
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.24);
  font-weight: 200;
  font-size: 4em;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 7.5px;
  color: #ffffff;
}

#welcomePage{
  display: flex; 
  justify-content: center; 
  align-content: center; 
  align-items: center;
  align-self: column; 
}

.rectangle
{
    margin: 10px;
    display: flex;
    flex-direction: column;
    height: 80vh;
    justify-content: center;
    justify-self: center;
    background-color: rgba(255, 255, 255, 0.85);
    color:#282c34;
    font-size: 1.7em;
  }

  .Q-btn{

  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  border:none;
  margin: 30px 10px;
  font-size: 1em;
  padding: 10px;
  background-color: #ffffff; 
  }
  .Q-skip{
    font-size: .7em;
  }


.welcome-btn{
  margin-bottom: 30px;

  text-decoration: none; 
  font-size: 2em; 
  color: #ffffff;
}

.welcome-links {
  margin-top: 100px;
  display: flex; 
  flex-direction: column; 
}

.Q-popup{
  z-index: 1;
  background-color: white;
  width: 90%;
  height: 90%;
  position: absolute;
  margin: auto;
  top: 5%;
  left: 5%;
}

#signup {
  font-size: 2em; 
  display: flex; 
  justify-content: center; 
  align-content: center; 
  align-items: center;
  align-self: column; 
}
#signup input {
  padding: 5px;
  text-align: center;
  font-size: 0.7em;
  margin: 5px;
  border-radius: 5px;
  border:none;
  height: 40px;
  

}

.signup-btn {
  color:#282c34 ;
  background-color: none; 
  border: none;
  
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
  margin-top: 30px;
  
}
#login {
  display: flex; 
  justify-content: center; 
  align-content: center; 
  align-items: center;
  align-self: column; 
}
