* {
  background-color: #eaeaea;
}
body {
  width: 100vw;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.nav-style {
  padding: 40px;
  border-radius: 5px;
}
.welcomeMessage {
  padding: 20px;
  text-align: justify;
}
.welcomeMessage h2 {
  text-align: center;
}

.homeSection {
  margin: 10px 0;
}
.homeSection-btn {
  display: inline-block;
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
}
.homeArticle {
  padding: 30px;
  text-align: left;
}
.bottom-nav {
  width: 100vw;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;

  align-items: center;
}

.nav-style {
  text-align: left;
}

.nav-style li {
  list-style: none;
  margin: 0 10px;
  text-decoration: none;
}
/* Sagas styling  */

/* Event homepage  */
.event-box {
  color: white;
}
.playlist-form {
  border: none;
  padding: 0 10px;
  margin: 0;
  width: 240px;
  background: none;
  display: block;
  text-align: center;
  background-color: white;
}
